@media (max-width: 768px){
    .header__phone{
        font-size: 16px;
    }
    .promo__wrapper{
        align-items: center;
    }
    .advantages{
        &__descr{
            width: 80%;
        }
        &__subtitle{
            font-size: 16px;
        }
    }    
}

@media (max-width: 576px){
    .header{
        height: 230px;
        flex-direction: column;
        &__official{
            font-size: 16px;
            span{
                font-size: 22px;
            }
        }
        &__phone{
            font-size: 20px;
        }
        .button{
            font-size: 16px;
            width: 180px;
            margin-top: 5px;
        }
    }
    .promo{
        &__header{
            font-size: 38px;
            text-align: center;
        }
        &__subheader{
            font-size: 20px;
            text-align: center;
        }
        &__icons{
            justify-content: space-around;
        }
    }
    .advantages{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            margin-top: 20px;
        }
    }
}