.reviews {
    padding-bottom: 71px;
    &__item {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        &_first{
            margin-top: 63px;
        }
    }
    &__logo {
        margin-right: 62px;
    }
    &__wrapper {
        text-align: left;
        color: #0d0d0d;
        font-weight: 300;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
    }
    &__exp {
        font-size: 14px;
        color: #646464;
        margin-top: 10px;
    }
    &__text {
        font-size: 16px;
        margin-top: 20px;
    }
}
